@charset "UTF-8";
/* りセット */
*{
  box-sizing: border-box;
}

@function rem($px){
  @return ($px/16) *1rem;
}

// $mainColor: #37952F;
$mainColor: #e6e6e6;
$subColor: #F6FCF5;
$subColor: #f7f7f7;
$breadcrumbs:#EEEEEE;
$blackColor: #333333;
$whiteColor: #ffffff;
$textColor: #333333;



body,h1,h2,h3,h4,h5,p,ul,li,ol,dl,dt,dd,figure,input,textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  outline:0;
  appearance: none;
  -webkit-appearance: none;
	border-radius: 0;

}

a { 
  color: inherit;
  text-decoration: none;
}

img{
  max-width:100%;
  vertical-align: bottom;
}


/* サイト全体 */
body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: rem(14);
  color: $textColor;
  line-height: 1.5;
  position: relative;
}

section{
  padding: 50px 0;
}

.inner{
  margin: 0 auto;
  max-width: 1120px;
  width: 100%;
  padding: 0 20px;
}

@media (min-width: 768px){
  body{
    font-size: rem(16);
  }
  section{
    padding: 80px 0;
  }
}


/* ページタイトル */
.page-title{
  text-align: center;
}

.main-title{
  font-size: rem(30);
  letter-spacing: 0.2em;
}

.sub-title{
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  color: $mainColor;
  font-size: rem(20);
  font-weight: bold;
  
}

.text--lh{
  line-height: 2;
}

@media (min-width: 768px){
  .page-title{
    margin-left: 50px;
    text-align: left;
  }

  .main-title{
    font-size: rem(48);
  }

  .sub-title{
    font-size: rem(24);
  }

}

/* ボタン */
.btn{
  border: 2px solid $whiteColor;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 20px;
  font-size: rem(20);
  font-weight: bold;
  transition: background .4s;

  &:hover{
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid $whiteColor;
  }
}

/* -------------------------------------------- */
/* header */
/* -------------------------------------------- */
.header{
  background-color: $whiteColor;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

  &__wrapper{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
  }

  &__logo{
    width: 105px;
    line-height: 1;
  }

  &__nav{
    display: none;
  }
}

@media (min-width: 992px) {
  .header{
    height: 100px;
  
    &__wrapper{
      padding-left: 50px;
    }
  
    &__logo{
      width: 210px;
    }

    &__nav{
      display: block;
    }
  }


}

/* -------------------------------------------- */
/* ナビ */
/* -------------------------------------------- */
/* ナビ全体 */
.nav{
  font-weight: bold;
  font-size: rem(18);

  &__lists{
    display: flex;
    text-transform: uppercase;
  }

  &__link{
    padding: 0 18px;
    display: inline-block;
  }
}

/* ヘッダーナビ */
.header__nav{
  .nav__link{
    transition: color .4s;

    &:hover{
      color: $mainColor;
    }

    &.now::after{
      content: "";
      display: block;
      border-bottom: 3px solid $mainColor;
      width: 100%;
    }
  }
}


/* -------------------------------------------- */
/* ハンバーガー */
/* -------------------------------------------- */
.burger{
  width: 50px;
  height: 50px;
  position: absolute;
  position: relative;
  background-color: $mainColor;
  cursor: pointer;
  top: 0;
  right: 0;
}

.bar{
  width: 25px;
  height: 2px;
  border-radius: 6px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,0);
  transition: all .5s;
  
  &::before,
  &::after{
    content: "";
    width: 25px;
    height: 2px;
    background-color: #fff;
    display: block;
    position: absolute;
  }
  
  &::before{
    top: 7px;
  }
  
  &::after{
    top: -7px;
  }
}

@media (min-width: 992px) {
  .burger{
    display: none;
  }

}

/* -------------------------------------------- */
/* メインビジュアル */
/* -------------------------------------------- */
.mainVisual{
  height: calc(200 / 375) *100vw;
  width: 100%;
  // background: url(../images/bg_header_service.jpg) center / cover no-repeat;
  background: url(../images/dmy_thumb02.jpg) center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

@media (min-width: 768px){
  .mainVisual{
    justify-content: flex-start;
  }
}

@media (min-width: 992px) {
  .mainVisual{
    height: 460px;
    margin-top: 100px;
  }

}



/* -------------------------------------------- */
/* キャッチコピー */
/* -------------------------------------------- */
.catch-copy{

  &__body{
    font-size: rem(22);
    line-height: 1.8;
    font-weight: bold;
  }

  &__text{
    font-size: rem(16);
    margin-top: 40px;
  }
}

@media (min-width: 768px){
  .catch-copy{

    &__body{
      font-size: rem(36);
      text-align: center;
    }
  
    &__text{
      font-size: rem(16);
      margin-top: 60px;
    }
  }
}


/* -------------------------------------------- */
/* サービス */
/* -------------------------------------------- */
.service{
  background-color: $subColor;
  padding: 0 0 200px;

  &__wrapper{
    display: flex;
    flex-direction: column-reverse;
  }
  
  &__wrapper:not(:first-child){
    margin-top: 40px;
  }

  &__body{
    background-color: $whiteColor;
    border: 1px solid $mainColor;
    padding: 40px 20px;
    margin-top: -40px;
  }

  &__sub-title{
    color: $mainColor;
    font-weight: bold;
    font-size: rem(16);
  }
  
  &__main-title{
    font-size: rem(20);
  }

  &__text-wrapper{
    margin-top: 35px;
  }

  &__text:nth-child(n + 2){
    margin-top: 30px;
  }

  &__image-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
  }
      
  &__image{
    width: calc((100% - 20px) /2);
    position: relative;

    &::before{
      content: "";
      display: block;
      padding-top: 72.5%;
    }

    img{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:nth-child(n + 3){
      margin-top: 20px;
    }

  }

  &__bg{
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);

    img{
      height: 100%;
      object-fit: cover;
    }
  }
}


@media (min-width: 568px){
  .service{
    &__image-list{
      justify-content: flex-start; 
    }

    &__image{
      width: calc((100% - 60px) / 4);

      &:nth-child(n + 3){
        margin-top: 0px;
      }
    }

    &__image:not(:last-child){
      margin-right: 20px;
    }

  }
}

@media (min-width: 768px) {
  .service{
    background: linear-gradient(to bottom, #fff 140px, $subColor 140px);
    &__wrapper{
      flex-direction: row;
      position: relative;
    }
    
    &__wrapper:not(:first-child){
      margin-top: 50px;
    }
  
    &__body{
      padding: 40px 40px;
      width: 66%;
      margin-top: 70px;
      z-index: 1;
    }
  
    &__sub-title{
      font-size: rem(20);
    }
    
    &__main-title{
      font-size: rem(28);
    }
  
    &__bg{
      width: calc(800 / 1600)*100vw;
      height: 500px;
      position: absolute;
      top: 0;
      left: 50%;
      margin: 0;
    }

    &__wrapper._rev{
      flex-direction: row-reverse;
      
      .service__bg{
        left: auto;
        right: 50%;
      }
    }
  }

}
/* -------------------------------------------- */
/* コールトゥーアクション */
/* -------------------------------------------- */
.cta{
  background-color: $mainColor;
  color: #fff;

  &__wrapper{
    text-align: center;
  }

  &__title{
    font-size: rem(24);
    position: relative;

    &::after{
      content: " ";
      display: block;
      border-bottom: 1px solid $whiteColor;
      width: 50px;
      margin: 20px auto 0;
    }
  }

  &__to-contact{
    margin-top: 30px;
  }

  &__form-btn{
    margin-top: 40px;
  }

  &__to-phone{
    margin-top: 40px;
  }

  &__phone-number{
    font-size: rem(40);
    font-family: 'Oswald', sans-serif; 
    font-weight: bold;

    span{
      font-size: rem(24);
    }
  }
}

@media (min-width: 768px) {
  .cta{
  
    &__title{
      font-size: rem(28);
    }
  
    &__phone-number{
      font-size: rem(48);
  
      span{
        font-size: rem(30);
      }
    }
  }

}

/* -------------------------------------------- */
/* パンクズ */
/* -------------------------------------------- */
.breadcrumbs{
  display: none;
}

@media (min-width: 768px) {
  .breadcrumbs{
    background-color: $breadcrumbs;
    display: block;
    font-size: rem(12);

    .breadcrumb_inner{
      padding: 15px 50px;
      a{
        color: $mainColor;
        text-decoration: underline $mainColor;
      }
    }
  }

}

/* -------------------------------------------- */
/* フッター */
/* -------------------------------------------- */
.footer{
  background-color: #333333;
  color: #fff;
  font-weight: bold;
  font-size: rem(14);
  
  &__wrapper{
    padding: 0 20px;
  }
  
  &__nav{
    font-size: rem(14);
  }

  &__nav-item{
    border-bottom: 1px solid #707070;
  }

  &__nav-link{
    padding: 14px 20px;
    display: block;
    &:hover{
      text-decoration: underline;
    }
  }

  &__copy{
    text-align: center;
    padding: 40px 0;
  }
}

@media (min-width: 768px) {
  .footer{
    height: 110px;
    
    &__wrapper{
      padding: 0 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__nav-list{
      display: flex;
    }
  
    &__nav-item{
      border-bottom: none;

      &:nth-child(n + 2){
        border-left: 1px solid #707070;
      }

      &:first-child .footer__nav-link{
        padding-left: 0;
      }
    }
  
    &__nav-link{
      padding: 0px 14px;
      display: block;
    }

  }
  
}

/* -------------------------------------------- */
/* フッター */
/* -------------------------------------------- */



/* -------------------------------------------- */
/* ▼タブレット用デザインとして付け足すデザイン */
/* -------------------------------------------- */
@media (min-width: 600px) {


}
/* ------------------------------------ */
/* ▼PC用デザインとして付け足すデザイン */
/* ------------------------------------ */
@media (min-width: 1025px) {


  
}
